GtkListBox {
    background-color: transparent;
    border-left: 1px solid gray;
}

KeepWidgetsSidebar {
    border-top: 0.5px solid gray;
    border-left: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
}

KeepWidgetsEditorView {
    border: 0.5px solid gray;
    background: @base_color;
    font-family: Open Sans;
    font-size: 10px;
}

